%h4 団費納入状況
%p
  = AccountTransaction.maximum(:posted_at).strftime('%Y年%m月%d日現在')

-# 計算
- diff = get_fee_diff current_user

= (Date.today.month - 1).to_s + '月分まで'
- if diff < 0
  %span.text-danger= number_to_currency(diff, :format => "%n%u", :unit => "円", :precision => 0)
- else
  %span.text-success= number_to_currency(diff, :format => "%n%u", :unit => "円", :precision => 0)
%br
- this_month = MonthlyFee.where(:user_id => current_user.id, :month => Date.today.month, :year => Date.today.year).first
= Date.today.month.to_s + '月末までに'
- diff = diff - this_month.amount
- if diff >= 0
  お支払いいただく必要はありません。
- else
  %span.text-danger= number_to_currency(diff * -1, :format => "%n%u", :unit => "円", :precision => 0)
  お支払いください！
%p
.padding
  .bg-info{:style => "display: flex; flex-direction: row; flex-wrap: nowrap;"}
    .nopadding.col-xs-12{:style => "display: flex; flex-direction: row; flex-wrap: nowrap; text-indent: 0px;"}
      = render partial: 'fees/fee_terms_header'
  %div{:style => "display: flex; flex-direction: row; flex-wrap: nowrap;"}
    .nopadding.col-xs-12{:style => "display: flex; flex-direction: row; flex-wrap: nowrap; font-size: 0.5em; color: white; text-indent: 0px;"}
      = render partial: 'fees/fee_chart', locals: {user: current_user, grid_content: true}
%p
.text-right
  %p= link_to '>>全体の団費納入状況', '/fees', {:target => '_blank'}
  %p{:onclick => 'loadPayee()'} >>団費振込先
  #payee.text-left

%script{:type => "text/javascript"}
  loadPayee = function(){
  $("#payee").load("/fees/payee");
  }

