%h1 新入団員の追加
%p
  - p @personal_data
  = form_for @personal_data, :url => '/personal_data', :html => {:class => "form-horizontal"} do |f|
    - if @personal_data.errors.any?
      #error_explanation
        %h2= "#{pluralize(@personal_data.errors.count, "error")} prohibited this nontan from being saved:"
        %ul
          - @personal_data.errors.full_messages.each do |msg|
            %li= msg
    .form-group
      .col-md-12
        %h4.bg-danger{:style => 'line-height: 2em'}
          全ての項目に入力してください。
          %span.text-danger
            入力する前に「@hal.mu」からのメールが受信できるように設定してあるか新入団員の方に確認して下さい！

    .form-group
      %label.col-sm-2.col-xs-12.control-label  名前
      .col-xs-6.col-sm-5
        = f.text_field :family_name, :placeholder => "姓",:class => "form-control", :required => 'true'
      .col-xs-6.col-sm-5
        = f.text_field :name, :placeholder => "名",:class => "form-control", :required => 'true'

    .form-group
      %label.col-sm-2.col-xs-12.control-label  名前(よみ)
      .col-xs-6.col-sm-5
        = f.text_field :family_name_pron, :placeholder => "せい",:class => "form-control", :required => 'true'
      .col-xs-6.col-sm-5
        = f.text_field :name_pron, :placeholder => "めい",:class => "form-control", :required => 'true'

    .form-group
      %label.col-sm-2.control-label パート
      .col-sm-10
        - if !current_user.admin
          = text_field_tag '', current_user.part.name, :class => 'form-control disable', :disabled => 'disabled'
        - else
          = f.collection_select :part_id, Part.all, :id, :name, {:prompt => 'select part'}, {:class => 'form-control'}

    .form-group
      %label.col-sm-2.control-label  メールアドレス
      .col-sm-10
        = f.text_field :email, :placeholder => "メールアドレス",:class => "form-control", :required => 'true'

    .actions
      %p.text-right
        = f.submit '登録', :class => "btn btn-primary"
