%h1 登録情報
%p
  .col-md-12
  %h4.bg-info{:style => 'line-height: 2em'}
    登録しました

  .row
    %label.col-sm-2.col-xs-12.control-label  名前
    .col-sm-10
      = @personal_data.family_name + ' ' + @personal_data.name

  .row
    %label.col-sm-2.col-xs-12.control-label  名前(よみ)
    .col-sm-10
      = @personal_data.family_name_pron + ' ' + @personal_data.name_pron

  .row
    %label.col-sm-2.col-xs-12.control-label  区分
    .col-sm-10
      = @personal_data.worker ? '社会人' : '学生'

  - unless @personal_data.worker
    .row
      %label.col-sm-2.col-xs-12.control-label  学校名
      .col-sm-10
        = @personal_data.school

  .row
    %label.col-sm-2.control-label パート
    .col-sm-10
      = @personal_data.part.name

  .row
    %label.col-sm-2.control-label  メールアドレス
    .col-sm-10
      = @personal_data.email

  .row
    %label.col-sm-2.control-label  メールアドレス2
    .col-sm-10
      = @personal_data.email2

  .row
    %label.col-sm-2.control-label  電話番号
    .col-sm-10
      = @personal_data.phone

  .row
    %label.col-sm-2.control-label  郵便番号
    .col-sm-10
      = @personal_data.zip_code

  .row
    %label.col-sm-2.control-label  住所
    .col-sm-10
      = ZipCode.get_address(@personal_data.zip_code) + @personal_data.address + @personal_data.building
