%h1 練習予定一覧
%p
= link_to '>>練習会場のメンテナンス', practice_places_path
%p
  .hidden-xs.row.bg-info
    .col-sm-3 日時
    .col-sm-2 練習区分
    .col-sm-2 練習会場
    .col-sm-4 練習内容
    .col-sm-1
  - @practice_plns.each_with_index do |pln, idx|
    .row.visible-xs
      .bs-callout.bs-callout-info
        %h4= (idx + 1).to_s
        .col-xs-12.col-sm-3
          = pln.pln_date
          = (pln.begining / 100).floor.to_s + ':' + pln.begining.to_s[-2, 2]
          〜
          = (pln.ending / 100).floor.to_s + ':' + pln.ending.to_s[-2, 2]
        .col-xs-4.col-sm-2= pln.practice_mode.name
        .col-xs-8.col-sm-2
          = pln.practice_place.place_name
          = pln.room
        .col-xs-12.col-sm-4= simple_format pln.description
        .col-xs-12.col-sm-1.text-right
          = button_to '編集', edit_practice_pln_path(pln), :class => "btn btn-info", :method => 'get'
          = button_to 'お知らせ', mail_notif_practice_pln_path(pln), :class => "btn btn-warning", :method => 'get'
          = button_to '抹消', pln, method: :delete, data: { confirm: '無慈悲なまでに抹消されます。よろしいか？' }, :class => "btn btn-danger"
        .clearfix
      
    .row.hidden-xs
      .col-xs-12.col-sm-3
        = pln.pln_date
        = (pln.begining / 100).floor.to_s + ':' + pln.begining.to_s[-2, 2]
        〜
        = (pln.ending / 100).floor.to_s + ':' + pln.ending.to_s[-2, 2]
      .col-xs-4.col-sm-2= pln.practice_mode.name
      .col-xs-8.col-sm-2
        = pln.practice_place.place_name
        = pln.room
      .col-xs-12.col-sm-4= simple_format pln.description
      .col-xs-12.col-sm-1.text-right
        = button_to '編集', edit_practice_pln_path(pln), :class => "btn btn-info", :method => 'get'
        = button_to 'お知らせ', mail_notif_practice_pln_path(pln), :class => "btn btn-warning", :method => 'get'
        = button_to '抹消', pln, method: :delete, data: { confirm: '無慈悲なまでに抹消されます。よろしいか？' }, :class => "btn btn-danger"
      
= button_to '練習の新規作成', new_practice_pln_path, :class => "btn btn-default", :method => 'get'
