%h1 伝票一覧

%table.table.text-center
  %tr
    %th.text-center #
    %th.text-center 申請者
    %th.text-center 起票日
    %th.text-center 明細数
    %th.text-center 金額
    %th.text-center 振込
    %th.text-center 消込
    %th

  - @slips.each do |slip|
    %tr
      %td= slip.id
      %td= slip.user.formal_name
      %td= slip.created_at.strftime('%m月%d日')
      %td= slip.slip_dtls.count
      %td.text-right= number_to_currency(slip.amount, :format => "%n%u", :unit => "", :precision => 0)
      %td
        - if slip.transferred
          %span.glyphicon.glyphicon-ok.text-success
        - else
          %span.glyphicon.glyphicon-remove.text-warning
      %td
        - if slip.slip_mappings.count > 0
          %span.glyphicon.glyphicon-ok.text-success
        - else
          %span.glyphicon.glyphicon-remove.text-warning

      %td
        - if slip.transferred
          = button_to '編集/振込', '/slips/' + slip.id.to_s + '/edit', :method => 'get', :class => 'btn btn-xs btn-primary', :disabled => 'true'
        - else
          = button_to '編集/振込', '/slips/' + slip.id.to_s + '/edit', :method => 'get', :class => 'btn btn-xs btn-primary'
        = button_to '消込', '#', :method => 'get', :class => 'btn btn-xs btn-info', :disabled => 'true'
        = button_to '削除', slip, :method => 'delete', :class => 'btn btn-xs btn-danger'
    %tr
      %td &nbsp;
      %td{:colspan => 6}
        %span.show-dtl{:style => 'cursor: pointer;'}
          %span.glyphicon.glyphicon-chevron-down
          明細の表示
        %table.table{:style => "display: none;"}
          - slip.slip_dtls.order(:trans_date).each_with_index do |dtl, idx|
            %tr
              %td.text-right= (idx + 1).to_s + '.'
              %td= dtl.trans_date.strftime('%m月%d日')
              %td= dtl.accounting_item.name
              %td.text-right= number_to_currency(dtl.amount, :format => "%n%u", :unit => "", :precision => 0)
              %td= dtl.memo
      %td &nbsp;

%br

= button_to '伝票の登録', new_slip_path, {:class => 'btn btn-primary', :method => :get}
