- att = EventAttendance.where(:user_id => current_user.id, :event_id => @fids)
- if att.count > 0
  %h4 参加予定のイベント
  - att.each do |a|
    %p &nbsp;
    %p
      = a.event.when.strftime("%m月%d日") + "(" + ["日", "月", "火", "水", "木", "金", "土"][a.event.when.wday] + ")"
      = a.event.title
      = button_tag 'キャンセル', :type => 'button', :onclick => "javascript: $('#events').load('/events?mode=cancel&id=#{a.id}')", :class => 'btn btn-xs btn-danger'
  %p &nbsp;
%h4 この先のイベント
- @future_events.each do |f|
  .bs-callout.bs-callout-default
    %h4= f.when.strftime("%m月%d日") + "(" + ["日", "月", "火", "水", "木", "金", "土"][f.when.wday] + ")"
    %p
      %h3{:style => "display: inline"}
        = f.title
      %small
        %a{:href => "#", :onclick => "javascript: $(this).toggle();$('#event-desc-#{f.id}').toggle(); return false;"}
          %span.glyphicon.glyphicon-chevron-down
          詳細
    %p &nbsp;
    - if !f.description.nil?
      .indent.hidden{:id => "event-desc-#{f.id}"}= simple_format f.description
      %p &nbsp;
    %p
      お問い合わせ：
      = mail_to f.user.email, f.user.part.abbr.capitalize + '. ' + f.user.normal_name + 'さん'
    %p &nbsp;
    %p
      参加予定：
      - names = []
      - f.event_attendances.each do |att|
        - names << att.user.normal_name + 'さん'
      = names.join('、')
    - if EventAttendance.where(:event_id => f.id, :user_id => current_user.id).count == 0
      %p.text-right= button_tag '参加する！', :type => 'button', :onclick => "javascript: $('#events').load('/events?id=#{f.id}&mode=join')", :class => 'btn btn-xs btn-primary'
    - if f.user_id == current_user_id
      %p.text-right
        = link_to '>>イベントのマネジメント', edit_event_path(f.id), {:target => '_blank'}


%h4 終了したイベント
- @past_events.each do |p|
  - attend = EventAttendance.where(:event_id => p.id, :user_id => current_user.id).count != 0
  .event
    %p
      = p.when.strftime("%m月%d日") + ' ' + p.title
      - if attend
        = button_tag '写真を共有', :type => 'button', :onclick => "javascript: url=window.prompt('共有アルバムのURLを入力してください','');$('#events').load('/events?id=#{p.id}&mode=album&url='+url);", :class => 'btn btn-xs btn-primary'
    - if attend
      %ul
        - p.albums.each do |album|
          %li
            %a{:href => album.url, :target => '_blank'}
              %i.fa.fa-picture-o
              = 'アルバム' + album.id.to_s
              %i.fa.fa-camera
              by
              = album.user.normal_name + 'さん'
    %p &nbsp;
