%link{:rel=> "stylesheet", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"}
%h1 団費納入状況

%table.table
  %tr
    %th パート
    %th 名前
    %th 納入金額
    %th 過不足額
    - @terms.each do |term|
      %th{:style => 'width: 2em'}
        = term[:year].to_s
        %br
        = "/" + term[:month].to_s
  - pre_part = 1
  - @fee_calcs.each do |calc|
    - if pre_part != calc.user.part.id
      - pre_part = calc.user.part.id
      %tr.bg-info
        %td{:colspan => 4}
        - @terms.each do |term|
          - if Date.today.month <= term[:month] && Date.today.year <= term[:year]
            %td.text-center.text-muted{:style => 'height: 10px'}= term[:month].to_s
          - else
            %td.text-center.text-danger{:style => 'height: 10px'}= term[:month].to_s

    %tr
      %td= calc.user.part.abbr
      %td= calc.user.formal_name
      %td.text-right= number_to_currency(calc.amount, :format => "%n%u", :unit => "", :precision => 0)

      - debt = 0
      - @terms.each do |term|
        - if Date.today.month <= term[:month] && Date.today.year <= term[:year]
          - break
        - fee = MonthlyFee.where(:user_id => calc.user.id, :year => term[:year], :month => term[:month]).first
        - if fee.nil?
          - debt += 0
        - else
          - debt += fee.amount
      - diff = calc.amount - debt

      - if diff < 0
        %td.text-right.text-danger= number_to_currency(diff, :format => "%n%u", :unit => "", :precision => 0)
      - else
        %td.text-right.text-success= number_to_currency(diff, :format => "%n%u", :unit => "", :precision => 0)

      - @terms.each do |term|
        - fee = MonthlyFee.where(:user_id => calc.user.id, :year => term[:year], :month => term[:month]).first
        - if fee.nil?
          %td −
        - else
          - stat = ''
          - if fee.is_absent
            - stat = '休'
          - if fee.is_student
            - stat = '学' + stat

          - if calc.amount > 0
            - if calc.amount >= fee.amount
              %td.text-center= button_tag (stat == '' ? '◯' : stat), :class => 'btn btn-xs btn-primary campradio active', :title => fee.amount.to_s
            - else
              %td.text-center= button_tag (stat == '' ? '△' : stat), :class => 'btn btn-xs btn-warning campradio active', :title => fee.amount.to_s
            - calc.amount = calc.amount - fee.amount
          - else
            - if Date.today.month <= term[:month] && Date.today.year <= term[:year]
              %td
            - else
              %td.text-center= button_tag (stat == '' ? '×' : stat), :class => 'btn btn-xs btn-danger campradio active', :title => fee.amount.to_s
            
