%h1 各種届出の承認(会計)

%table.table
  %tr
    %th #
    %th パート
    %th 申請者
    %th 申請書
    %th 提出日
    %th ステータス
    %th
  - @apps.each do |app|
    - if app.part_accepted_at.nil?
      - status = "パート承認待ち"
    - elsif app.president_accepted_at.nil?
      - status = "団長承認待ち"
    - elsif app.accountant_accepted_at.nil?
      - status = "会計承認待ち"
    - elsif app.somu_accepted_at.nil?
      - status = "総務承認待ち"
    - else
      - status = "承認済"
    %tr 
      %td= app.id.to_s
      %td= app.personal_data.part.name
      %td= app.personal_data.long_name
      %td= app.application_name
      %td= app.created_at.strftime("%m月%d日")
      %td= status
      %td
        - if app.accountant_accepted_at.nil?
          = button_to '承認', '/application_acceptance/' + app.id.to_s + '/accountant_edit', :method => 'get', :class => 'btn btn-sm btn-primary'
        - else
          = button_to '確認', '/application_acceptance/' + app.id.to_s + '/accountant_edit', :method => 'get', :class => 'btn btn-sm btn-warning'
