-if @app.application_type != 'join'
  - calc = VFeeCalc.where(:user_id => current_user.id).first
  - last_cutoff = FeeCutoff.order('cutoff_date DESC').first
  - year = last_cutoff.cutoff_date.year
  - month = last_cutoff.cutoff_date.month
  - @terms = []
  - 10.times do |i|
    - term = {}
    - m = month + i
    - unless m > 12
      - term[:month] = m
      - term[:year] = year
    - else
      - term[:month] = m - 12
      - term[:year] = year + 1
    - @terms << term

  -# 計算
  - debt = 0
  - @terms.each do |term|
    -# TODO 今月を含まないに変更
    -# if Date.today.month < term[:month] && Date.today.year <= term[:year]
    - if Date.today.month <= term[:month] && Date.today.year <= term[:year]
      - break
    - fee = MonthlyFee.where(:user_id => calc.user.id, :year => term[:year], :month => term[:month]).first
    - if fee.nil?
      - debt += 0
    - else
      - debt += fee.amount
  - diff = calc.amount - debt

%h1= @app.application_name
- valid = true
%p
  - p @app
  = form_for @app, :url => '/application_acceptance', :html => {:class => "form-horizontal"} do |f|
    - if @app.errors.any?
      #error_explanation
        %h2= "#{pluralize(@app.errors.count, "error")} prohibited this nontan from being saved:"
        %ul
          - @app.errors.full_messages.each do |msg|
            %li= msg
    = f.hidden_field :application_type
    = f.hidden_field :user_id

    .form-group
      %label.col-sm-2.col-xs-12.control-label  届出内容
      .col-xs-12.col-sm-10
        = text_field_tag '', @app.application_name, :class => 'form-control disable', :disabled => 'disabled'

    .form-group
      %label.col-sm-2.col-xs-12.control-label  名前
      .col-xs-12.col-sm-10
        = text_field_tag '', @app.user.formal_name, :class => 'form-control disable', :disabled => 'disabled'

    .form-group
      %label.col-sm-2.control-label パート
      .col-sm-10
        = text_field_tag '', @app.user.part.name, :class => 'form-control disable', :disabled => 'disabled'

    .form-group
      %label.col-sm-2.control-label 区分
      .col-sm-10
        = text_field_tag '', @app.user.worker ? '社会人' : '学生', :class => 'form-control disable', :disabled => 'disabled'

    - case @app.application_type
      - when 'join'
        .form-group
          %label.col-sm-2.control-label 入団日
          .col-sm-10
            = f.date_field :starts_at, :class => "form-control", :required => 'true'
      
      - when 'absence'
        .form-group
          %label.col-sm-2.control-label 休団開始日
          .col-sm-10
            = f.date_field :starts_at, :class => "form-control", :required => 'true'

        .form-group
          %label.col-sm-2.control-label 休団終了日
          .col-sm-10
            = f.date_field :ends_at, :class => "form-control", :required => 'true', :disabled => 'disabled'

        .form-group
          %label.col-sm-2.control-label  同意条項
          .col-sm-10
            - fee = FeeAmount.where('starts_at < now() and ends_at > now()').first
            %p 
              この休団届けを提出する前に、休団期間中の団費（社会人は月額
              = number_to_currency(fee.workers/2, :format => "%n%u", :unit => "円", :precision => 0)
              、学生は月額
              = number_to_currency(fee.students/2, :format => "%n%u", :unit => "円", :precision => 0)
              ）を全額納めている必要があります。
              納付がない場合は休団届けの受理が延び、休団開始が遅くなります。
            %p
              = check_box_tag 'agree', false, false, {:required => 'true'}
              %label{:for => 'agree'}
                上記に同意する
            %p
              休団期間は
              - c = Concert.where("date >= current_date()").first
              = c.date.year.to_s + '年' + c.date.month.to_s + '月'
              までです。

              - absence_month_count = c.date.month > Date.today.month ? (c.date.month - Date.today.month) : (c.date.month - Date.today.month + 12)
              - absence_fee = current_user.worker ? (fee.workers/2 * absence_month_count) : (fee.students/2 * absence_month_count)
              - absence_diff = diff - absence_fee
              - if absence_diff < 0
                %p
                  休団費と合計した団費納入が
                  = number_to_currency(absence_diff * -1, :format => "%n%u", :unit => "円", :precision => 0)
                  不足しています。納入後、休団申請が可能となります。
                  = AccountTransaction.maximum(:posted_at).strftime('%Y年%m月%d日現在')
                - valid = false
          
      - when 'retire'
        .form-group
          %label.col-sm-2.control-label 退団日
          .col-sm-10
            = f.date_field :ends_at, :class => "form-control", :required => 'true'

        .form-group
          %label.col-sm-2.control-label  同意条項
          .col-sm-10
            - fee = FeeAmount.where('starts_at < now() and ends_at > now()').first
            %p 
              この退団届けを提出する前に、所属期間中の団費（社会人は月額
              = number_to_currency(fee.workers, :format => "%n%u", :unit => "円", :precision => 0)
              、学生は月額
              = number_to_currency(fee.students, :format => "%n%u", :unit => "円", :precision => 0)
              ）を全額納めている必要があります。
              納付がない場合は退団届けの受理が延び、退団扱いが遅くなります。
              また、すでに納付された団費のうち超過分は登録された口座に振込を行います。
              超過分がある場合は、口座の登録を「登録情報」からご確認ください。
              なお、その他所属していた期間に登録された情報等は、退団届けが承認し受理されると消去されます。
            %p
              = check_box_tag 'agree', false, false, {:required => 'true'}
              %label{:for => 'agree'}
                上記に同意する

            - if diff < 0
              %p
                これまでの団費納入が
                = number_to_currency(diff * -1, :format => "%n%u", :unit => "円", :precision => 0)
                不足しています。納入後、退団申請が可能となります。
                = AccountTransaction.maximum(:posted_at).strftime('%Y年%m月%d日現在')
              - valid = false

    .form-group
      %label.col-sm-2.control-label 特記事項
      .col-sm-10
        = f.text_area :user_memo, :class => "form-control"

    .actions
      %p.text-right
        - if valid
          = f.submit '提出', :class => "btn btn-primary"
