%table.table
  %tr
    %th #
    %th パート
    %th 申請者
    %th 申請書
    %th 提出日
    %th
  - @apps.each do |app|
    %tr 
      %td= app.id.to_s
      %td= app.personal_data.part.name
      %td= app.personal_data.long_name
      %td= app.application_name
      %td= app.created_at.strftime("%m月%d日")
      %td
        - if app.somu_accepted_at.nil?
          = button_to '承認', '/application_acceptance/' + app.id.to_s + '/somu_edit', :method => 'get', :class => 'btn btn-sm btn-primary'
        - else
          = button_to '確認', '/application_acceptance/' + app.id.to_s + '/somu_edit', :method => 'get', :class => 'btn btn-sm btn-warning'
        
