!!! XML
%rss{:version => "2.0", :"xmlns:itunes" => "http://www.itunes.com/DTDs/Podcast-1.0.dtd"}
  %channel
    %itunes:image{:href => "http://hal.mu/concert_recordings.png"}
    %link http://hal.mu/
    %language ja
    %description Orchestra HAL 定期演奏会での録音です。
    %title Orchestra HAL 定期演奏会
    %subtitle Orchestra HAL 定期演奏会
    %docs http://blogs.law.harvard.edu/tech/rss
    %lastBuildDate= @lastbuilddate.strftime '%a, %d %b %Y %H:%M:%S +0900'
    %category Classical
    %explicit no
    %itunes:author Orchestra HAL
    - @list.each do |item|
      %item
        %author Orchestra HAL
        %description= item[:album]
        %title= item[:title]
        %pubDate= item[:update].strftime '%a, %d %b %Y %H:%M:%S +0900'
        %itunes:duration= item[:duration]
        %enclosure{:length => item[:length], :type => "audio/mpeg", :url => item[:url]}