= form_tag '/mutters/create', {:onsubmit => 'return createMutter();'} do
  .mutter-input{:style => "display: table;"}
    %div{:style => "display: table-cell; width: 100%;"}
      = text_field_tag :message, "", {:placeholder => "つぶやく？", :class => 'form-control message-input'}
    = submit_tag '呟く', {:style => 'box-sixing: border-box; margin-left: 10px;', :class => "btn btn-info mutter-btn"}

%div
  - @mutters.reverse.each do |m|
    .row{:style => "margin: 10px 0;"}
      .col-xs-2
        %img.img-responsive.img-circle{:src => '/members/' + m.user_id.to_s + '.jpg', :onerror => 'this.src="/img/unavailable.png"'}
      .col-xs-10
        %p{:style => "margin: 0"}
          = m.message
        %p.text-right{:style => "margin: 0"}
          %small
            = m.created_at.strftime('%Y年%m月%d日 %T')