%link{:rel=> "stylesheet", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"}
%h1 合宿参加登録状況
- camp = Camp.order('start_date desc').first
- total = []
%table.table
  %tr
    %th パート
    %th 名前
    %th{:style => 'width: 1.5em;'} 最終確認
    - sections = CampSection.all.order :id
    - sections.each do |sec|
      %th{:style => 'width: 1.5em;'}= sec.title
      - total << 0
    - total << 0
    - total << 0
    - if is_granted :camping_coordinator
      %th 参加費
  - pre_part = 1
  - @users.each do |user|
    - p user.long_name
    - unless user.valid_on? camp.start_date 
      - next
    - if user.absent_on? camp.start_date
      - next
    - if pre_part != user.part.id
      - pre_part = user.part.id
      %tr.bg-info
        - if is_granted :camping_coordinator
          %td{:colspan => 4 + sections.count}
        - else
          %td{:colspan => 3 + sections.count}
    - att = CampAttendance.where(:user_id => user.id).first
    - if att.nil?
      - bg = 'bg-danger'
    - elsif att.updated_at < camp.final_poll_start_at
      - bg = 'bg-warning'
    - else
      - bg = 'bg-success'
    %tr{:class => bg}
      %td= user.part.abbr
      %td{:nowrap => true}= user.formal_name
      %td
        - if att.nil?
          %i.fa.fa-exclamation.text-danger
        - elsif att.updated_at < camp.final_poll_start_at
          %span.glyphicon.glyphicon-remove.text-warning
        - else
          %span.glyphicon.glyphicon-ok.text-success
      - amount = 0
      - sections.each do |sec|
        %td{:width => '30px'}
          - if att.nil?
            = ""
          - else
            - case att.send(('section_' + sec.id.to_s).to_sym)
            - when 0
              = button_tag '×', :class => 'btn btn-xs btn-danger campradio active', :title => sec.title
            - when 2
              = button_tag '△', :class => 'btn btn-xs btn-warning campradio active', :title => sec.title
            - else
              = button_tag '◯', :class => 'btn btn-xs btn-primary campradio active', :title => sec.title
              - amount += sec.amount
              - total[sec.id] += 1
      - if is_granted :camping_coordinator
        %td.text-right
          = number_to_currency(amount, :format => "%n%u", :unit => "", :precision => 0)
          - total[(sections.count) + 1] += amount
  %tr.bg-info
    %td{:colspan => 3} 合計
    - sections.each do |sec|
      %td.text-right= total[sec.id].to_s
    - if is_granted :camping_coordinator
      %td.text-right
        = number_to_currency(total[(sections.count) + 1].to_s, :format => "%n%u", :unit => "", :precision => 0)
  - if is_granted :camping_coordinator
    %tr
      %th{:colspan => 3} &nbsp;
      - sections = CampSection.all.order :id
      - sections.each do |sec|
        %th= sec.title
      %th 参加費




