%link{:rel=> "stylesheet", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"}
%h1 合宿参加登録状況
- camp = Camp.where('first_poll_start_at <= current_date() and current_date() < end_date').first
- total = []
%table.table
  %tr
    %th パート
    %th 名前
    %th 最終確認
    - sections = CampSection.all.order :id
    - sections.each do |sec|
      %th{:style => 'width: 1.5em;'}= sec.title
      - total << 0
    - total << 0
    - total << 0
    %th 参加費
  - @users.each do |user|
    - if user.absent? next
    - att = CampAttendance.where(:user_id => user.id).first
    -# att += 3600 * 9
    - if att.nil?
      - bg = 'bg-danger'
    - elsif att.updated_at < camp.final_poll_start_at
      - bg = 'bg-warning'
    - else
      - bg = 'bg-success'
    %tr{:class => bg}
      %td= user.part.abbr
      %td= user.formal_name
      %td
        - if att.nil?
          %i.fa.fa-exclamation.text-danger
        - elsif att.updated_at < camp.final_poll_start_at
          %span.glyphicon.glyphicon-remove.text-warning
        - else
          %span.glyphicon.glyphicon-ok.text-success
      - amount = 0
      - sections.each do |sec|
        %td
          - if att.nil?
            = ""
          - else
            - case att.send(('section_' + sec.id.to_s).to_sym)
            - when 0
              = button_tag '×', :class => 'btn btn-xs btn-danger campradio active', :title => sec.title
            - when 2
              = button_tag '△', :class => 'btn btn-xs btn-warning campradio active', :title => sec.title
            - else
              = button_tag '◯', :class => 'btn btn-xs btn-primary campradio active', :title => sec.title
              - amount += sec.amount
              - total[sec.id] += 1
      %td.text-right
        = number_to_currency(amount, :format => "%n%u", :unit => "", :precision => 0)
        - total[(sections.count) + 1] += amount
  %tr.bg-info
    %td{:colspan => 3} 合計
    - sections.each do |sec|
      %td.text-right= total[sec.id].to_s
    %td.text-right
      = number_to_currency(total[(sections.count) + 1].to_s, :format => "%n%u", :unit => "", :precision => 0)
  %tr
    %th{:colspan => 3} &nbsp;
    - sections = CampSection.all.order :id
    - sections.each do |sec|
      %th= sec.title
    %th 参加費




