%h1 収納状況更新

- camp = Camp.order('start_date desc').first
%p
      
  = form_tag 'update_payment_status', :class => "form-horizontal" do

    - @camp_attendances.each do |att|
      - if att.amount == 0
        - next
      .form-group
        %label.col-xs-1= att.user.part.abbr
        %label.col-xs-3= att.user.formal_name
        %label.col-xs-2.text-right= number_to_currency(att.amount, :format => "%n%u", :unit => "円", :precision => 0)
        .col-xs-6
          = check_box_tag "payed_list[#{att.id}]", att.id, att.payed, :class => "form-control"

    .actions
      %p.text-right
        = submit_tag '登録・更新', :class => "btn btn-primary"